.lastpwi>span {
    color: #acacac;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
}

.lastpwi-info {
    display: grid;
    text-align: center;
    border: 1px solid #dedede;
    margin: 16px 0px;
    padding: 5px 0px;
    border-radius: 5px;
}

.lastpwi-info__crown {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
}

.lastpwi-info__crown img {
    width: 25px;
    margin: 5px;
    margin-bottom: 0px;
}

.lastpwi-info__congrat {
    font-weight: 700;
    font-size: 13px;
    color: #212529;
}

.lastpwi-info__congrat span {
    color: #bcbcbc;
}

.lastpwi-info__won {
    color: #212529;
    font-size: 13px;
}

.lastpwi-info__txlink a {
    color: #3f93ea;
    font-size: 13px;
}

.lastpwi-info__txlink a:hover {
    color: #0056b3;
}

.lastpwi-info__percentage_fee {
    position: relative;
    top: -15px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.lastpwi-info__percentage_fee>div {
    position: relative;
    z-index: 3;
}

.lastpwi-info__percentage_fee img {
    margin-right: 5px;
}

@media only screen and (max-device-width: 1000px) {
    .lastpwi {
        width: 90vw;
        margin: auto;
    }
}

.dark_bg .lastpwi-info {
    border: 1px solid #4b4b4b !important;
    background: #454753 !important;
}

.dark_bg .singlepe {
    border-bottom: 1px solid #454753 !important;
}

.singlepe-price {
    color: #7e879f !important;
}

.lastpwi-info__txlink {
    position: relative;
    z-index: 3;
}

.lastpwi-info__txlink a {
    color: #7e879f !important;
}

.lastpwi-info__won {
    color: #979797 !important;
}

.lastpwi-info__congrat {
    font-weight: 700 !important;
    font-size: 13px !important;
    color: #7e879f !important;
}