.light_bg .Games {
    padding: 0px 5px;
    color: grey;
    font-weight: 900;
}

.menuItems_dark {
    background: #454753;
    font-weight: 700;
}

.menuItems_light {
    font-weight: 800;
}

.CurrentGame a {
    color: white;
}

@media only screen and (max-device-width: 1000px) {}