.maintenance-title {
  text-align: center;
  word-break: break-word;
  width: fit-content !important;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 40px;
  top: 50%;
  transform: translateY(-50%);
}