.singlepe {
    grid-template-columns: 2fr 4fr 2fr 3fr 1fr;
    display: grid;
    font-size: 13px;
    border-bottom: 1px solid rgb(234 234 234);
    color: #acacac;
    padding: 5px 0px;
    width: 100%;
    min-width: 100%;
}

.singlepe span {
    text-align: left;
}

.singlepe-price {
    color: #212529;
    text-align: left;
}

.singlepe img {
    height: 15px;
    width: 15px;
}

.singlepe-amount {
    text-align: left;
    float: right;
}

.single-pe__tokenimage {
    text-align: left;
    float: right;
}



@media only screen and (max-device-width: 1000px) {
    .singlepe {
        grid-template-columns: 2fr 4fr 2fr 4fr 1fr;
        /* padding: 0px 5px; */
    }
}